@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.Icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 44%;
    margin: 0 auto;
}

body{font-family: Azeret Mono}

.Background{
    width: 1440px;
    height: 652px;
    top: 131px;
    margin-top: 20px;
    margin: 0 auto;
    background-image: url(B10A1-Challenge-Begins-main/assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
}

.BT {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 850px;

}
.Header1{font-size: 48px;}
.BT{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
    font-size: 25px;
}
.button{
    background-color: black; /* black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
  }

  .Meets{font-size: 20px;
    color: rgb(13, 19, 33);}

    .main1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(13, 19, 33);}

    .head2{
        font-size: 32px;
        font-weight: 800;
        line-height: 37px;
        text-align: center;}

    .para{
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    width: 70%;}

.lo1
{float: right;}
.layer1
{
    position: absolute;
    width: 70%;
    height: 20%;
    left: 15%;
    padding: 48px;
    align-items: center;
}
.head3
{font-size: 30px;}
.para2{
    font-size: 16px;
}

.b1{
    width: 150px;
    height: 48px;
}
.b2{width: 150px;
    height: 48px;
    float: right;}
.b3{width: 150px;
    float: left;
    height: 48px;}
.lo2{float: left;}
.head4{float: right;
font-size: 30px;}
.para3{float: right;
font-size: 16px;}

.align{display: flex;
flex-direction: column;
justify-content: right;}

.layer2
{
    position: absolute;
    width: 70%;
    height: 20%;
    left: 15%;
    padding: 48px;
    align-items: center;
}

.lo3
{float: right;}
.layer3
{
    position: absolute;
    width: 70%;
    height: 20%;
    left: 15%;
    padding: 48px;
    align-items: center;
}
.head5
{font-size: 30px;}
.para4{
    font-size: 16px;
}


.head6{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;}
.para5{
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 70%;
}

.youtube{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.head7{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;}
.para6{
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 70%;
}

.card{  
    position: static;
    width: 182px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    flex: none;}
.card1{
    
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.card2{
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
     

.card3{
     
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.card{
    width: 1140px;
    height: 462px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}



.heads {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; 
        font-size: 24px;
        text-align: right;
      }
      
.he4{float: right;}
.PM{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    
    font-size: 16px;
    line-height: 26px;
    text-align: center;}
.place{ position: absolute;
    width: 70%;
    height: 20%;
    left: 15%;
    padding: 48px;
    align-items: center;
    margin: 0px 24px;}

.hand{
    width: 1140px;
    height: 260px;
    top: 4752px;
    left: 150px;
    right: 150px;
    margin: 0 auto;
    background-image: url(B10A1-Challenge-Begins-main/assets/handshake.jpg);
    background-position: center;
    text-align: center;
    background-size: cover}

.suggestion{
    height: 57px;
    width: 548px;
    font-size: 16px;
    }

.bye{
    top: 4900px
    left
}